[2018-03-10 14:20] mellybelly opened #1 "Consider embedding a persistent open chat"
for example, Slack can be embedded in a site
https://chatlio.com/embed-slack/

We should have an open "lobby" for community discussion, even better if this is on our front page.

[2019-01-29 22:02] mellybelly opened #2 "Add community events to "news and events""
CD2H website should highlight activities such as https://www.academyhealth.org/HCDC
on our site.

It would be great if there was a way to suggest events and have them show up on the news and events automatically, as well as on the calendar.

[2019-01-30 04:56] cgcook commented on #2
The AcademyHealth data challenge is now on the website: https://ctsa.ncats.nih.gov/cd2h/2019/01/29/healthiest-communities-data-challenge/

[Here is a draft news/events intake form ](https://goo.gl/forms/oNRwaKDo9niA2BLJ2)
We can embed this either on the website, or within the team portal.  Do we want this public facing?

[2019-02-01 05:10] kristiholmes opened #3 "Add a way to highlight content to the front page"
To highlight updates, news, announcements, etc.

[2019-02-01 14:36] mellybelly opened #4 "Check all collaborative projects for proper attribution"
This includes organizations, people, and funding.

[2019-02-05 22:01] jmcmurry opened #5 "Import issues from website feedback gdoc"
Import from [here](https://docs.google.com/document/d/1rQ1_hzY4HilH2D9tPRFJvz8n--VZrxOU9gn2EjnsPDk/edit).

[2019-02-06 03:04] kristiholmes opened #6 "Make page with all Phase 2 projects listed in one place"
currently, all phase 2 projects are placed on different pages with a different substructure across the website, easter egg hunt style. This would not be a problem if there was a main source for this info.

[2019-02-06 03:07] kristiholmes opened #7 "Make a deliverables/outcomes/impacts page"
this page can list and point to the cool stuff that is built, articles, important citations, vignettes, etc. - a wide variety of things

[2019-02-06 10:32] kristiholmes opened #8 "Format each of the phase 2 project pages"
Add appropriately formatted titles, section headers, etc. to make the content easier to read.

Add a way to act on a project on the page (link to github, email the leads, etc.)

[2019-02-08 02:24] nicolevasilevsky opened #9 "lack of attribution for working group members on website"
https://ctsa.ncats.nih.gov/cd2h/about-us/
https://ctsa.ncats.nih.gov/cd2h/join-the-conversation/
https://ctsa.ncats.nih.gov/cd2h/workgroup/people-expertise-attribution/

- [ ] On the website, only the project leads are mentioned on each project page, none of us who are contributors are mentioned anywhere, thereby, not giving us any credit for our contributions and work. We should be on 'about us'

[2019-02-08 21:34] jmcmurry commented on #5
@nicolevasilevsky is also going to help with this.

[2019-02-08 21:39] nicolevasilevsky opened #10 "Fix image size when scaling"
https://ctsa.ncats.nih.gov/cd2h/

[2019-02-08 21:41] nicolevasilevsky opened #11 "Standardize the organization of content across the pages"
https://ctsa.ncats.nih.gov/cd2h/

[2019-02-08 21:47] nicolevasilevsky opened #12 "Important news should be featured more prominently"
https://ctsa.ncats.nih.gov/cd2h/

one of the developers commented on the google doc: planning to add a slider at the top for most exciting current news

related to #3

[2019-02-08 21:48] nicolevasilevsky opened #13 "Search needs improvement"
https://ctsa.ncats.nih.gov/cd2h/

search for “cohort” and you don’t retrieve anything (such as i2b2)

[2019-02-08 21:49] nicolevasilevsky opened #14 "increase font size across the website"
https://ctsa.ncats.nih.gov/cd2h/

Some of the font is very small

It was noted that font size is small on homepage and [about us](https://ctsa.ncats.nih.gov/cd2h/about-us/) page

Related ticket #52

[2019-02-08 21:50] nicolevasilevsky opened #15 "Define DTF"
https://ctsa.ncats.nih.gov/cd2h/

domain task forces

[2019-02-08 21:51] nicolevasilevsky opened #16 "adjust twitter feed display"
https://ctsa.ncats.nih.gov/cd2h/

Twitter feed: feed comes before the heading on mobile site and also on computer version

[2019-02-08 21:52] nicolevasilevsky opened #17 "update picture of Larry Hunter"
https://ctsa.ncats.nih.gov/cd2h/about-us/

[2019-02-08 21:54] nicolevasilevsky opened #18 "“about us” should have a dropdown for the components"
https://ctsa.ncats.nih.gov/cd2h/about-us/

components:
PIs, EAB, CTSA liaisons

[2019-02-08 21:54] nicolevasilevsky opened #19 "Fix icons on about us page"
https://ctsa.ncats.nih.gov/cd2h/about-us/

Identify, Invent, Implement icons are a bit washed out

[2019-02-08 21:55] nicolevasilevsky opened #20 "DTF and other committees could be links"
https://ctsa.ncats.nih.gov/cd2h/about-us/

[2019-02-08 21:56] nicolevasilevsky opened #21 "update brochure for overall program"
- [ ] The two-pager has an odd layout
- [ ] takes 40 seconds to load
- [ ] it is a single page when printed, so I would call it a one-pager), should change to one pager
- [ ] On the two-pager, it says to get involved in various ways, but there isn’t any further information as to how to attend the meetings, or sign up for the newsletter, etc. - please add 2-pager version with live links
- [ ] On th

[2019-02-08 21:58] nicolevasilevsky opened #22 "Update citation guidelines on footer of about us page"
- [ ] The citation guidelines at the bottom should not be centered, it is hard to read.
- [ ] Maybe also located somewhere else easier to find on site.
- [ ] please also add link to footer

[2019-02-08 22:00] nicolevasilevsky opened #23 "Some text blocks justified, some not"
https://ctsa.ncats.nih.gov/cd2h/about-us/

[2019-02-08 22:03] nicolevasilevsky opened #24 "Add link outs to each person's name"
https://ctsa.ncats.nih.gov/cd2h/about-us/
https://ctsa.ncats.nih.gov/cd2h/workgroup/people-expertise-attribution/

Add link outs on each person’s name, like to their institutional/personal webpages on the about us page and on the people workgroup page

related to #9

[2019-02-08 22:04] nicolevasilevsky opened #25 "Underneath the pictures, it would look better to have the affiliation on one line and the role on a 2nd line"
https://ctsa.ncats.nih.gov/cd2h/about-us/
related to #9

[2019-02-08 22:05] nicolevasilevsky opened #26 "Education could be listed here alongside the workgroups"
https://ctsa.ncats.nih.gov/cd2h/join-the-conversation/

[2019-02-08 22:07] nicolevasilevsky opened #27 "Need to update the roles for the eval committee"
https://ctsa.ncats.nih.gov/cd2h/join-the-conversation/

CD2H Leadership roles google doc does not reflect the new role of the eval committee. Should be fixed before posting. You might want to review the entire doc before linking publicly.

[2019-02-08 22:08] nicolevasilevsky opened #28 "Need to list projects for people workgroup"
https://ctsa.ncats.nih.gov/cd2h/workgroup/people-expertise-attribution/

in the [google doc](https://docs.google.com/document/d/1rQ1_hzY4HilH2D9tPRFJvz8n--VZrxOU9gn2EjnsPDk/edit), it was noted they will be visible soon - currently hidden

[2019-02-08 22:12] nicolevasilevsky commented on #9
Current plan: “tiles” will be added for each project  and will list leads for each project. There will eventually be a link to approved proposals with full team members listed. Happy to rethink this.

Note- this comment is from the [google doc](https://docs.google.com/document/d/1rQ1_hzY4HilH2D9tPRFJvz8n--VZrxOU9gn2EjnsPDk/edit), not from me.

[2019-02-08 22:13] nicolevasilevsky opened #29 "add additional photos to website"
https://ctsa.ncats.nih.gov/cd2h/workgroup/people-expertise-attribution/

All of the images are very clinical - would be great to get some real-life images of teams working together, a workshop, etc.

[2019-02-08 22:14] nicolevasilevsky opened #30 "updates to dream challenges page"
on [dream challenges page](https://ctsa.ncats.nih.gov/cd2h/innovate-with-us/dream-challenges/)
- [ ] The image is essentially covered up by the box
- [ ] Update stock photo to something more relevant

[2019-02-08 22:19] nicolevasilevsky opened #31 "updates to CD2H LABS page"
https://ctsa.ncats.nih.gov/cd2h/innovate-with-us/cd2h-labs/

- [ ] We seem to be missing CTSAsearch. We should make sure other tools are there too.
- [ ]  Can we use the CD2H labs logo as part of the header image? Otherwise it takes up a ton of space before you get to real content.
- [ ]  There were multiple projects in phase 1 listed here - they’ve not gone away and should be migrated to this pag

[2019-02-08 22:32] nicolevasilevsky opened #32 "update spacing in header menu in tools for CTSAs page"
https://ctsa.ncats.nih.gov/cd2h/tools-for-ctsas/

Header menu under photo - spacing is not the same (between “Informatics maturity model” and “education initiatives”)

![image](https://user-images.githubusercontent.com/6722114/52510226-08991780-2bb0-11e9-91de-59e80083c5e4.png)

[2019-02-08 22:33] nicolevasilevsky opened #33 "Best practice guides issues"
https://ctsa.ncats.nih.gov/cd2h/tools-for-ctsas/#best

- [ ] not scaling correctly

- [ ] remove hyperlinks to text that says 'coming soon', that is misleading

![image](https://user-images.githubusercontent.com/6722114/52512199-734e5100-2bb8-11e9-9bdb-8ce98d6c8e05.png)

[2019-02-08 22:34] nicolevasilevsky opened #34 "updates to Tools for CTSAs page/to be discussed amongst PIs"
https://ctsa.ncats.nih.gov/cd2h/tools-for-ctsas/

- [ ] Odd to find edu stuff here, better to move it as its own tab or with workgroups
- [ ] Very confusing categorization of things - tools for CTSAs asks me to join a workgroup, a big box explaining the maturity model project, a toolbox of actual tools with another set of tabs/categories (this is the only thing I would expect to see here), and the

[2019-02-08 22:41] nicolevasilevsky opened #35 "Team science should list the NIH team science toolbox"
https://ctsa.ncats.nih.gov/cd2h/tools-for-ctsas/

[2019-02-08 22:44] nicolevasilevsky commented on #32
I think this might be fixed? Looks okay to me.

[2019-02-08 22:46] nicolevasilevsky opened #36 "Update stock photo to something more relevant- Tools for CTSAs page"
https://ctsa.ncats.nih.gov/cd2h/tools-for-ctsas/

suggestions welcome

[2019-02-08 22:47] nicolevasilevsky opened #37 "On the admin tab, there is no contextual information"
https://ctsa.ncats.nih.gov/cd2h/tools-for-ctsas/

need input from Sean Mooney (I don't know his github handle)

[2019-02-08 22:49] nicolevasilevsky opened #38 "Add additional tools to Tools for CTSAs page"
https://ctsa.ncats.nih.gov/cd2h/tools-for-ctsas/

comment from [google doc](https://docs.google.com/document/d/1rQ1_hzY4HilH2D9tPRFJvz8n--VZrxOU9gn2EjnsPDk/edit):

Was this list crowdsourced? It seems like there are some missing tools.  This would be a great opportunity for the CD2H team/our hubs to weigh in.

MH- yes this was my suggestion too. I think when we advertise the new site and on the si

[2019-02-08 22:49] nicolevasilevsky opened #39 "This needs to be a real registry with registry functionality"
https://ctsa.ncats.nih.gov/cd2h/tools-for-ctsas/

[2019-02-08 22:51] nicolevasilevsky opened #40 "news should be above the fold"
news should be above the fold, maybe as a two-column with the join the list for newsletter.

https://ctsa.ncats.nih.gov/cd2h/news-events/

[2019-02-08 22:51] nicolevasilevsky opened #41 "Separate subtab for the blog"
https://ctsa.ncats.nih.gov/cd2h/news-events/

[2019-02-08 22:52] nicolevasilevsky opened #42 "Update blog categories on News and Events page"
https://ctsa.ncats.nih.gov/cd2h/news-events/

Update blog categories and sort accordingly [all blog entries, Newsletters, iDTF meetings (Show and Tells, Lead meetings, Full member updates), Workgroup community meetings, other meetings, workshops

[2019-02-08 22:53] nicolevasilevsky opened #43 "Add twitter icon to the footer"

[2019-02-08 22:53] nicolevasilevsky opened #44 "add a calendar that you can subscribe to"

[2019-02-08 22:54] nicolevasilevsky opened #45 "add links to public slack channel and ticketing system"

[2019-02-08 22:55] nicolevasilevsky opened #46 "Link to feedback form"
some kind of feedback mechanism?

[2019-02-08 22:56] nicolevasilevsky opened #47 "add contact info"
on the [google doc](https://docs.google.com/document/d/1rQ1_hzY4HilH2D9tPRFJvz8n--VZrxOU9gn2EjnsPDk/edit), there is a request for "contact", but there is a contact us button the bottom of the [webpage](https://ctsa.ncats.nih.gov/cd2h/about-us/)

do we want to add contact info for each individual person?

related to #24

[2019-02-08 22:57] nicolevasilevsky commented on #38
additional request:
No link to “[Managing informatics teams for administrators](https://data2health.github.io/mtip-tutorial/)” course materials or information

[2019-02-08 23:18] nicolevasilevsky opened #48 "update blog content"
current /future news or event info - everything in the blog (was) in the past

https://ctsa.ncats.nih.gov/cd2h/blog/

I think this is done? assigning @cgcook, but not sure who actually updates this

[2019-02-08 23:19] nicolevasilevsky commented on #48
also recommend reordering the blog events, the most distant event is listed first, which is in Nov, and you have to scroll down to the bottom to see the events that are coming up sooner.

Also should remove events that have already happened, like the show and tell on Jan 04

[2019-02-08 23:21] nicolevasilevsky opened #49 "update stock photos"
see related ticket #36

Please look over all of the stock photos, many are out of context and/or not interesting to look at

[2019-02-08 23:22] nicolevasilevsky opened #50 "formatting content 'above the fold'"
So much of the content should be “above the fold” - the page ”hero images” seem overly large from a vertical perspective.

see related ticket #40

[2019-02-08 23:27] nicolevasilevsky opened #51 "”hero images” don’t always convey the content/context of the page"
from [google doc](https://docs.google.com/document/d/1rQ1_hzY4HilH2D9tPRFJvz8n--VZrxOU9gn2EjnsPDk/edit)

[2019-02-08 23:29] nicolevasilevsky opened #52 "test website for accessibility"
Was this website tested for accessibility? See https://www.w3.org/WAI/ and Kristi’s group can provide tools that we use to ensure accessible resources for all. Super small font on every page, relatively speaking.

related ticket #14

[2019-02-08 23:36] nicolevasilevsky commented on #22
https://ctsa.ncats.nih.gov/cd2h/about-us/

[2019-02-08 23:36] nicolevasilevsky commented on #21
https://ctsa.ncats.nih.gov/cd2h/about-us/

[2019-02-08 23:46] nicolevasilevsky commented on #5
this is done, everything has been added as an issue in this repo and cross referenced in the google doc

[2019-02-08 23:46] #5 closed, assigned to nicolevasilevsky, cgcook

[2019-02-08 23:46] nicolevasilevsky commented on #5
note - I didn't assign anyone to tickets though (for the most part)

[2019-02-08 23:50] cgcook commented on #5
Thanks Nicole!

[2019-02-11 23:07] nicolevasilevsky commented on #47
@mellybelly @jguinney @cgchute @kristiholmes @prpayne5 @pnrobinson @newgene @eichmann

would you want your contact info included on the website, or do you just want to have the generic 'contact us' at the bottom?

[2019-02-11 23:11] nicolevasilevsky commented on #46
@jmcmurry is working on a feedback form, from what I understand

[2019-02-11 23:26] #17 closed, assigned to nobody

[2019-02-11 23:42] cgcook commented on #44
@mellybelly include internal calendar and public calendar on website?

[2019-02-12 00:27] cgcook commented on #43
Twitter icon now in footer; thanks to whomever added it.  closing this ticket.

[2019-02-12 00:27] #43 closed, assigned to nobody

[2019-02-12 20:23] jmcmurry commented on #46
We decided to opt for making the operations repo the place for this. It is going to be open to team  the data2health/allhands team.

[2019-02-12 21:48] nicolevasilevsky commented on #46
So we should link this page from the website?
https://github.com/data2health/operations/issues

Would you like it on the footer? or somewhere else?

[2019-02-23 11:48] kristiholmes commented on #49
we should also all take photos at events/meetings.

[2019-03-01 19:17] hsolbrig opened #53 "Welcome to CD2H looks like a popup"
The color and offset nature of the "Welcome to CD2H" box looks like a popup.  I keep looking for the close box in the rhs. Recommend blending withe background or doing something else to make it clear it is integral to the backing photo...

[2019-03-01 19:18] laderast opened #54 "Some Thoughts on Site Organization"
I think we should really think about how the organization of splash page flows.

- Our Mission
- The problems we tackle
  - Our Groups that address these problems
  - Specific Ways to collaborate with us
- Events

[2019-03-01 19:19] nicolevasilevsky opened #55 "the project proposals (linked from the projects) seem out of date"
see: https://ctsa.ncats.nih.gov/cd2h/a-computable-representation-of-contributions/

This lists some expected outputs, which may not be current
It has a section for the GitHub repo, but nothing is linked

[2019-03-01 19:19] RoseRelevo commented on #53
users will be looking for [close] and [x] because other websites have ruined this for us.

[2019-03-01 19:20] jguinney opened #56 "Events on main page"
These are out-of-date, and also incorrectly say 2019 (when they were 2018). Also, clicking on "View All Events" doesn't work; simply takes one back to main page.

[2019-03-01 19:21] RoseRelevo opened #57 "use of phrase "one pager""
Is this a term of art that is used like FAQ or white-paper.  I'm not familiar with it from other contexts.  Maybe something like executive summary or something that is more meaningful to a user.   Also one-pager makes less sense in an online environment.

[2019-03-01 19:24] RoseRelevo opened #58 "tools for ctsa is a category that contains tools for ctsa"
if one of the narrower terms is toolbox, maybe the larger category should be resources

[2019-03-01 19:26] RoseRelevo opened #59 "Outputs"
you should have a publications tab where one can search for all publications from the program.  As a user I'm always looking for that, and I think our new data scraping took, could be worked backwards, to  get the publications.

[2019-03-01 19:27] vpejaver opened #60 "End-user specific quick links"
Having specific quick links for different end-users may be useful:
- For Patients
- For Clinicians
- For Administrators
- For Developers
- For Scientists/Researchers
- For Educators

[2019-03-01 19:28] newgene opened #61 "We need a team page with info about sites and people"
where we can put the correct site logos/names to use

People info can be the updated graph visualization @eichmann showed before.

[2019-03-01 19:32] jmcmurry opened #62 "DNA is twisting the wrong way on the labs page"
It can't just be flipped over axis because then continents would be backwards. That said, continents come and go :)

https://ctsa.ncats.nih.gov/cd2h/innovate-with-us/cd2h-labs/

[2019-03-01 19:53] sdmooney opened #63 "CTSA hub logos"
It would be nice to get the logos of the CTSAs that are CD2H sites on the website somewhere.  Maybe on the bottom of the 'about us' page?  I get a lot of internal feedback from my ctsa ITHS about doing this better

[2019-03-03 13:03] kristiholmes commented on #59
I'd suggest that we make it easier to openly share any resulting output (e.g., code, data sets, white papers, surveys, etc.).

[2019-03-05 19:12] jmcmurry commented on #63
This is dependent on https://github.com/data2health/operations/issues/33 where the logos to use are declared / deposited.

[2019-03-09 22:14] eichmann commented on #34
Is this issue superceded by the current plan for Labs?

[2019-03-09 23:13] mellybelly commented on #34
+1. That page is slightly off-putting in its omissions, and not very useful in its commissions. Better to focus on labs software inventory both internal and external where we can get our finger on the pulse of what needs to be revealed rather than a few things that people really are already using or know about. Once we have the Labs refacing done we can simplify the NCATS website and remove this.

[2019-03-28 04:05] jmcmurry opened #64 "Grant number missing from site"
- [x] The Grant number should be in footer of every page
- [x] At least for now should be on the home page somewhere

https://ctsa.ncats.nih.gov/cd2h/

reported by @kristiholmes [here](https://github.com/data2health/operations/issues/53)

[2019-03-28 15:58] cgcook commented on #64
Currently there is a citation link in the footer of every page of the site that redirects to the [about us](https://ctsa.ncats.nih.gov/cd2h/about-us/) page, where the full grant number is referenced.

Is this sufficient?

[2019-06-10 09:09] kristiholmes opened #65 "error message, website seems down"
504 Gateway Time-out error message on https://ctsa.ncats.nih.gov/cd2h/

[2019-07-28 15:20] kristiholmes commented on #65
the problem I observed seemed to eventually resolve itself. New website launched.

[2019-07-28 15:20] #65 closed, assigned to mellybelly, eichmann

[2019-07-28 15:38] kristiholmes commented on #3
seems possible with new site, directions to do so would be helpful.

[2019-07-28 15:38] #3 closed, assigned to nobody

[2019-07-28 15:40] kristiholmes commented on #6
new website helps with navigation

[2019-07-28 15:40] #6 closed, assigned to nobody

[2019-07-28 15:42] #7 closed, assigned to nobody

[2019-07-28 15:42] #8 closed, assigned to nobody

[2019-10-22 05:21] jmcmurry commented on #39
this tools idea is something we are doing away with, at least until we can do it justice. alternative routes for visibility are cd2h labs and discovery engine.

[2019-10-22 05:21] #39 closed, assigned to nobody

[2019-10-22 05:22] jmcmurry commented on #64
I don't think we have the citation link there anymore

[2019-10-22 05:24] jmcmurry commented on #62
N/A (page no longer exists)

[2019-10-22 05:24] #62 closed, assigned to nobody

[2019-10-22 05:29] jmcmurry commented on #51
this has now been addressed

[2019-10-22 05:29] #51 closed, assigned to nobody

[2019-10-22 05:29] jmcmurry commented on #55
this has been addressed

[2019-10-22 05:29] #55 closed, assigned to nobody

[2019-10-22 05:31] jmcmurry commented on #50
this has largely been addressed; remaining issues reflect constraints of the prescribed wordpress theme.

[2019-10-22 05:31] #50 closed, assigned to nobody

[2019-10-22 05:42] jmcmurry commented on #46
cd2h.org/feedback is a more accessible route for this and allows for private contributions as desired. It just needs to be linked from more places on the site.

[2019-10-22 05:45] jmcmurry commented on #4
Organizations and people have been addressed by the teams.md pages. Funding is another story, however I will expect people to come to us with this info. Closing for now.

[2019-10-22 05:45] #4 closed, assigned to cgcook

[2019-10-22 05:46] jmcmurry commented on #9
This has been addressed by the team.md; anyone is welcome to reopen if they feel more needs to be done.

[2019-10-22 05:46] #9 closed, assigned to nobody

[2019-10-22 05:47] jmcmurry commented on #10
This is a constraint of the wordpress theme and will not be fixed

[2019-10-22 05:47] #10 closed, assigned to nobody

[2019-10-22 05:48] jmcmurry commented on #19
No longer an issue

[2019-10-22 05:48] #19 closed, assigned to jmcmurry

[2019-10-22 05:48] jmcmurry commented on #24
addressed by team.md

[2019-10-22 05:48] #24 closed, assigned to nobody

[2019-10-22 05:49] jmcmurry commented on #32
No longer an issue

[2019-10-22 05:49] #32 closed, assigned to nobody

[2019-10-22 05:50] jmcmurry commented on #29
Did my best to make less doctor-ey; I think it is a lot better. Not a lot of good alternatives. Closing for now. We tried the crowdsourcing of photos that would work for this and did not get any uptake.

[2019-10-22 05:50] #29 closed, assigned to nobody

[2019-10-22 05:52] jmcmurry commented on #54
The current organization is much more closely tied to this; however it is actually implemented at the core level rather than the site level.

[2019-10-22 05:52] #54 closed, assigned to nobody

[2019-10-22 05:57] jmcmurry commented on #48
I too find the news and blogs page to be very VERY unweildy for exactly this reason, however we need the old events to remain as they house the links to slides and video. Would like to overhaul this in fullness of time.

[2019-10-22 05:58] jmcmurry commented on #53
I believe this has been addressed

[2019-10-22 05:58] #53 closed, assigned to nobody

[2019-10-22 06:02] jmcmurry commented on #44
I think that this should simply say "Onboard to CD2H for a calendar you can subscribe to".

[2019-10-22 06:02] jmcmurry commented on #37
no longer an issue as tools page has been removed

[2019-10-22 06:02] #37 closed, assigned to nobody

[2019-10-22 06:03] jmcmurry commented on #45
duplicate of #1

[2019-10-22 06:03] #45 closed, assigned to nobody

[2019-10-22 06:04] jmcmurry commented on #57
agree 'brochure' is fine.

[2019-10-22 06:05] jmcmurry commented on #47
each core has a contact; this is adequate for now

[2019-10-22 06:05] #47 closed, assigned to nobody

[2019-10-22 06:05] jmcmurry commented on #31
no longer an issue

[2019-10-22 06:05] #31 closed, assigned to nobody

[2019-10-22 06:06] jmcmurry commented on #38
No longer an issue

[2019-10-22 06:06] #38 closed, assigned to nobody

[2019-10-22 06:09] jmcmurry commented on #40
If we remove the calendar for now, we can fit more news above the fold.

[2019-10-22 06:10] jmcmurry commented on #35
tools page is on hold until justice can be done to it

[2019-10-22 06:10] #35 closed, assigned to nobody

[2019-10-22 06:10] jmcmurry commented on #33
no longer an issue

[2019-10-22 06:10] #33 closed, assigned to nobody

[2019-10-22 06:16] jmcmurry commented on #41
Do people want:
- Three pages: a news page, blog page, events page
- Two pages: a news and blog page and an events page?

[2019-10-22 06:17] jmcmurry commented on #36
no longer an issue

[2019-10-22 06:17] #36 closed, assigned to nobody

[2019-10-22 06:18] jmcmurry commented on #49
We did our best with https://github.com/data2health/operations/issues/24; I think this is best we can do for now

[2019-10-22 06:18] #49 closed, assigned to nobody

[2019-10-22 06:19] jmcmurry commented on #11
this has been addressed

[2019-10-22 06:19] #11 closed, assigned to nobody

[2019-10-22 06:21] jmcmurry commented on #14
I think this has been addressed; reopen if there's something you think is hanging

[2019-10-22 06:21] #14 closed, assigned to nobody

[2019-10-22 06:23] jmcmurry commented on #21
The details here may no longer be relevant. I'm not sure I ever saw the "two pager" but this basic high-level overview is still needed. I will assign myself ...

[2019-10-22 06:24] jmcmurry commented on #16
this has been addressed

[2019-10-22 06:24] #16 closed, assigned to nobody

[2019-10-22 06:24] jmcmurry commented on #23
This has been addressed

[2019-10-22 06:24] #23 closed, assigned to nobody

[2019-10-22 06:24] jmcmurry commented on #30
This has been addressed

[2019-10-22 06:24] #30 closed, assigned to nobody

[2019-10-22 06:27] jmcmurry commented on #61
The [current our team page](https://ctsa.ncats.nih.gov/cd2h/our-team/) has just the leads; we should mention that participants in each project are shown on the pages. Please deposit the logos you'd like used. See https://github.com/data2health/operations/issues/33 for details.

[2019-10-22 06:29] jmcmurry commented on #13
This particular search may no longer be super relevant but search still could be improved. I'm wondering how github pages would fare in this over wordpress. cc: @eichmann

[2019-10-22 06:33] jmcmurry commented on #58
No longer an issue

[2019-10-22 06:33] #58 closed, assigned to nobody

[2019-10-22 06:35] jmcmurry commented on #12
Still an issue; requires some re-wiring

[2019-10-22 06:36] jmcmurry commented on #56
fixed during overhaul

[2019-10-22 06:36] #56 closed, assigned to nobody

[2019-10-22 06:39] jmcmurry commented on #59
Prob best to organize these by core; @eichmann a md?

[2019-10-22 19:05] cgcook commented on #57
term updated on website.

[2019-10-22 19:05] #57 closed, assigned to cgcook

[2019-10-31 19:32] cgcook commented on #64
added link to citation info in footer of site. I've asked Mike to add the text directly to the footer block, as that element doesn't seem editable on my end.

[2019-10-31 19:32] #64 closed, assigned to cgcook

[2020-01-10 15:26] eichmann opened #66 "Resolve choice of platform"
Wordpress or Drupal?  Most Wordpress rationaly seems solely on marketshare...

[2020-01-10 15:37] eichmann opened #67 "Survey current hub sites for design ideas."

[2020-01-10 15:38] eichmann opened #68 "Review CLIC and TIN sites for potential commonalities"

[2020-01-10 15:38] eichmann opened #69 "Identify personas categorizing our user community"

[2020-01-10 15:39] eichmann opened #70 "Convene focus groups for each persona to identify information needs"

[2020-01-10 15:52] eichmann opened #71 "Identify migrated legacy content to be published"
- [ ] Identify who the decisionmakers are for what content should be migrated
 - [ ]  Walk through the existing site and annotate what should be:
   - [ ]  Omitted
   - [ ]  Updated
   - [ ]  Added as-is to the new site

[2020-01-10 15:52] eichmann opened #72 "Migrate legacy content"

[2020-01-10 15:55] eichmann opened #73 "Identify hosting organization"
Iowa has a no-cost cloud-based Drupal provider.  NCATS also has provisioning for WordPress and Drupal

[2020-01-10 15:57] eichmann opened #74 "Define roles and authorities"
Which roles get to do what with respect to content creation and publishing?

[2020-01-10 16:01] eichmann opened #75 "Deploy an initial instance for experimentation."

[2020-01-13 21:40] jmcmurry commented on #72
Depends on #71

[2020-01-13 21:43] jmcmurry commented on #71
- [ ]  Identify who the decisionmakers are for what content should be migrated
 - [ ]  Walk through the existing site and annotate what should be:
   - [ ]  Omitted
   - [ ]  Updated
   - [ ]  Added as-is to the new site

[2020-01-13 21:47] jmcmurry commented on #72
@eichmann what do you need from me in terms of images?

[2020-01-13 22:06] jmcmurry commented on #71
@amvolz will walk through existing content for each core during the regularly scheduled core meetings with NCATS.

[2020-01-13 23:34] amvolz opened #76 "Create a Tool Registry Tab"
Provide list of software programs and algorithms across the CTSAs. Philip Payne/James Eddy spearheading this list. Not fully populated yet, but may have some materials to list. NCATS suggested format for listing: NAME, DESCRIPTION, LOCATION (link, cloud), LICENSE, FORMAT (webpage, app, SAAS)

[2020-01-13 23:50] amvolz opened #77 "Build in an analytics tool"
Predict what data will be asked to be collected. Be able to track site hits, software downloads, comments, engagement, etc. Xinzhi wants to present statistical graph of website engagement at Fall Meeting.

[2020-01-18 22:22] eichmann commented on #75
Drupal 8 instance available at https://test.cd2h.org as of 1/12/20.

[2020-01-18 22:22] #75 closed, assigned to eichmann

[2020-01-23 20:12] amvolz commented on #71
Decision made 1/22/2020 to not have Cores decide now on migrated content. Instead, all content will be migrated to the Drupal prototype, and then decisions can be made by Core Leads through testing, focus groups, etc.

[2020-01-29 02:05] eichmann commented on #66
We're going with Drupal 8.

[2020-01-29 02:05] #66 closed, assigned to eichmann

[2020-01-29 02:27] eichmann opened #78 "create footer"

[2020-01-29 02:28] eichmann opened #79 "define core information model"

[2020-01-29 02:30] eichmann opened #80 "create administrator accounts for core team"

[2020-01-31 16:40] amvolz opened #81 "Track Rockefeller tools and disease-based ontologies"
Barry Coller and Yupu Liang at Rockefeller - share locally developed tools with CD2H & CTSA community; track and post updates

[2020-01-31 19:34] eichmann opened #82 "suss out grid layout for entity references"
To make the core directors, etc. lay out more nicely in containing pages (e.g., core instances) we need to figure out how to apply a grid layout to entity references.

[2020-01-31 19:35] eichmann commented on #80
We are now configured to allow a user to self request an account, to be approved by an administrator - email notification currently comes to me.  We'll add folks as we go at this point.

[2020-01-31 19:35] #80 closed, assigned to eichmann, alexisgraves

[2020-01-31 19:37] eichmann commented on #73
For now the test instance is hosted at Iowa

[2020-01-31 19:37] #73 closed, assigned to eichmann

[2020-01-31 19:43] eichmann commented on #78
A footer equivalent in layout to the legacy one is now in place.

[2020-02-06 18:31] eichmann opened #83 "modernizr nosniff issue"
Disabled nosniff on headers in .htaccess temporarily to resolve modernizr.js mime issue.  We need to establish the real cause and resolve it, then reenable nosniff

[2020-02-06 19:34] eichmann commented on #83
Further digging - mimetype coming back for modernizr is text/html. Setting an explicit application/javascript in .htaccess doesn't resolve this.

[2020-02-06 22:14] eichmann commented on #83
Added the following to .htaccess to force things

`<Files *.js>
    ForceType application/javascript
    Header set Content-Type "application/javascript"
</Files>
<Files *.css>
    ForceType text/css
    Header set Content-Type "text/css"
</Files>
`

[2020-02-06 22:14] #83 closed, assigned to eichmann, amikaili

[2020-02-07 21:45] eichmann commented on #79
We have at this point content types of Core, Project, Bio and News Item.  Cross-linking is currently done using entity references.  I've installed the Paragraphs and Paragraph Grid modules to explore more interesting structuring of content.

[2020-02-07 21:46] eichmann commented on #78
Closing for now.  We can re-address this once we settle on a production theme

[2020-02-07 21:46] #78 closed, assigned to alexisgraves

[2020-02-07 21:49] eichmann commented on #71
All legacy content has been migrated from WordPress and staged in Drupal mostly as Basic pages. We'll address the remaining nuances as we hone the new site.

[2020-02-07 21:49] #71 closed, assigned to amvolz

[2020-02-07 21:49] eichmann commented on #72
All legacy content has been migrated from WordPress and staged in Drupal mostly as Basic pages. We'll address the remaining nuances as we hone the new site.

[2020-02-07 21:49] #72 closed, assigned to eichmann

[2020-02-07 21:53] eichmann opened #84 "Get head shots and bios for all persons with bios"

[2020-02-07 23:14] amvolz commented on #84
Emailed 4 Community co-leads for their consent. If yes, requested JPEG, title, credentials, projects/bio information. Emailed Admin staff for the same.

[2020-02-09 17:02] amikaili commented on #82
I found an Extension Module called Display Suite that would provide drag and drop capability, into many pre-available layouts, for any entity… in the website:

*Display Suites*

https://www.youtube.com/watch?v=5awFIQOMNKE&feature=youtu.be

https://www.drupal.org/project/ds

[Running composer alone did not do the trick(composer require 'drupal/ds:^3.5')]

So I downloaded the tar gz from this site (

[2020-02-09 17:17] amikaili commented on #79
There are also view artifacts (building blocks) referred to as *Sections*:

When working with an empty layout, the first step is to add a Section. Sections are the top-level building blocks of Page Layouts. They’re added by clicking “Add Section”

After clicking “Add Section”, you select a layout for the section. Layout Builder comes with four Section Layouts: One Column, Two Column, Three Column,

[2020-02-12 20:56] eichmann commented on #82
Simple once we know what to do:

- create a grid view definition, under grid settings, uncheck “Default column classes” and specify “views-col” as a Custom column class.
- enable Layout builder for the target page, add the body as a block and then the view as a block
- poof!

[2020-02-12 20:56] #82 closed, assigned to eichmann

[2020-02-19 18:20] amvolz opened #85 "Create artwork/diagram for NIH-NCATS-CD2H-CTSA relationship"

[2020-02-19 18:22] amvolz opened #86 "Create map to color code CD2H-CTSA involvement"
Capability to interface with Awareness Management Platform (AMP) as members join

[2020-02-21 20:37] eichmann commented on #79
The current scheme seems sufficient for now.  Everything else will be considered incremental enhancement.

[2020-02-21 20:37] #79 closed, assigned to eichmann, alexisgraves

[2020-02-21 20:40] eichmann opened #87 "Extend CSS to handle proper column gaps on landing page."

[2020-02-21 20:47] eichmann opened #88 ""Large" images fail to be served to the browser"
This seems to be both just large images (a big png) or high density images.  This show in just a file in the root directory, the hidpi icons for the editor and images in the danland slideshow.

[2020-02-21 21:24] eichmann opened #89 "Create a current RFA view"
Pull data from our RFA cache for display on the main landing page

[2020-02-21 21:27] eichmann commented on #89
The two immediate options are an iframe wrapping a JSP lurking in labs and a batch daemon that pushes RFA entities into Drupal via the API.

[2020-02-21 22:29] eichmann commented on #87
Success!

1. Uncomment local_css line in danland.libraries.yml
2. edit local.css to create a class ("guttered") with the desired padding
3. Define a corresponding style in Structure > Displays > Classes
4. Configure the section in layout and open the custom classes - guttered should appear as an option for each of the columns - select it for each desired column
5. flush the cache (probably for the

[2020-02-21 22:30] eichmann commented on #87
x

[2020-02-21 22:39] amikaili commented on #86
I don't know if my comment belongs in this ticket, I saw the word "map" in the Subject; anyway I wrote an app today that you provide an input of which states of the union (US) and the output image highlights a geographic map pictorially representing them.  According to this NIH site Maryland and NC are the states NIH has presence in:  https://www.nih.gov/institutes-nih/nih-institute-center-contact

[2020-02-21 22:43] amikaili commented on #86
<img width="1170" alt="Screen Shot 2020-02-21 at 4 41 02 PM" src="https://user-images.githubusercontent.com/26906359/75077725-399d6f00-54c9-11ea-9883-de6115961857.png">

[2020-02-21 22:56] amikaili commented on #88
I noticed this anomaly, behaving differently, depending on the setting of the Text format dropdown (see below image).

[2020-02-21 22:56] amikaili commented on #88
<img width="1167" alt="Screen Shot 2020-02-21 at 4 53 31 PM" src="https://user-images.githubusercontent.com/26906359/75078414-255a7180-54cb-11ea-95b7-ebeeb0603e7e.png">

[2020-02-21 22:59] alexisgraves commented on #86
@amikaili I actually have most of the underlying data from developing a previous map I created here: https://labs.cd2h.org/scits/tableau/tableau.jsp. The census data was used to demonstrate additional functionality, but we should be able to use the geo(lat, long, & address)/additional CTSA hub metadata I have within either a D3 visualization or the framework you have. I believe Dave also has this

[2020-02-21 23:30] amikaili commented on #86
https://github.com/amikaili/angular-us-map/blob/master/custom-map-module/src/app/app.component.ts#L10

[2020-02-21 23:49] amikaili commented on #88
The four settings of *Text format* can be configured, see below image, by going to the Admin Configuration menu:

[2020-02-21 23:50] amikaili commented on #88
<img width="833" alt="Screen Shot 2020-02-21 at 5 45 00 PM" src="https://user-images.githubusercontent.com/26906359/75080772-981b1b00-54d2-11ea-9325-af896efae431.png">

[2020-02-21 23:53] amikaili commented on #88
And Configure the attribute configuration, by going to its Configure page (for example for *Full HTML*
 shown below)

[2020-02-21 23:54] amikaili commented on #88
<img width="1664" alt="Screen Shot 2020-02-21 at 5 51 31 PM" src="https://user-images.githubusercontent.com/26906359/75080923-21325200-54d3-11ea-94d7-bce8ee9018d2.png">

[2020-02-21 23:55] amikaili commented on #88
<img width="1366" alt="Screen Shot 2020-02-21 at 5 53 01 PM" src="https://user-images.githubusercontent.com/26906359/75080969-4757f200-54d3-11ea-822f-ff6313954f65.png">

[2020-02-21 23:58] amikaili commented on #88
Please note Max File size limit allowed 8MB in this case, for Images

[2020-02-22 15:45] amikaili commented on #89
I would be glad to explore the Spring Batch option?  Do these RFA entities currently reside in a Postgres database (and connected to the current WordPress site)?  Please send the Url (for the RFA View)?

[2020-02-22 16:00] amikaili commented on #89
https://ncats.nih.gov/funding/open/program-specific ?

[2020-02-23 16:55] eichmann commented on #89
@amikaili A launch daemon on wintermute runs daily, poplating nih_foa schemas on neuromancer, wintermute and colossus. That daemon also triggers the Lucene index regeneration on guardian (aka labs.cd2h.org).  The widget on the landing page is a custom block ("NIH FOA") with an iframe that executes the embedded_search.jsp page with a query of "informatics".  While this is a pretty flexible mechanis

[2020-02-23 18:58] eichmann opened #90 "select and install Apache log analyzer"
We have multiple shortlinks - Apache aliases that redirect to various servers for onboarding, etc. Julie's looking to be able to report hits on the shortlinks.

[2020-02-23 19:59] eichmann opened #91 "Configure Resource Discovery core & projects as exemplar"
Let's use Resource Discovery as a guide for the other cores in configuring rich current content

- [x] scan Github core repo for content
- [x] scan GDrive folders for content
- [x] pull labs content 'up' into Drupal
- [x] configure scheme for to-be-current phase 3 projects vs. prior phases
- [ ] edit content for overall consistency and non-redundancy

[2020-02-24 16:24] eichmann commented on #89
A little element inspection with Chrome and the iframe now styles similarly to the surrounding blocks.

[2020-02-24 16:27] amikaili commented on #89
Under the Manage display tab, for configuring each Custom Block (Admin>>Structure>>Block layout>>Custom block library >> Edit Block content style)the third column "PARENT" can be set to "content".  Please see the image below and let me know if this would help (I lost Admin to the site)?

[2020-02-24 16:27] amikaili commented on #89
![Screen Shot 2020-02-24 at 10 20 24 AM](https://user-images.githubusercontent.com/26906359/75170795-40f29180-56f0-11ea-89b3-b9123da3f33d.png)

[2020-02-24 16:36] eichmann commented on #89
@amikaili - iframes always get sandboxed.  Note that I checked your roles - you're still an Author and and Administrator, same as me...

[2020-02-24 16:39] eichmann commented on #87
This seems to be working well, even for the FOA iframe.

[2020-02-24 16:39] #87 closed, assigned to eichmann, alexisgraves

[2020-02-24 16:47] amikaili commented on #89
OK my bad I logged in and got the Admin back.  BTW could you please help with the question Anita just posted to SLACK (web-redesign channel) about NCBI TAXONOMY)?  Thanks!

[2020-02-24 17:47] amikaili commented on #88
For example there are two images broken in the Primary Menu (probably exceed max size limit) as captured below.  As far as fixing them, I believe (please correct me if mistaken @eichmann) the images reside in the site database, to which I have no access (even as a site admin)?
![Screen Shot 2020-02-24 at 11 37 55 AM](https://user-images.githubusercontent.com/26906359/75177252-6933bd80-56fb-11ea-91

[2020-02-24 17:56] amikaili commented on #90
Would it be far fetched to consider *Splunk* as an over-arching enterprise-wide solution.  Harvesting logs is a primary function of Splunk.  It has also other capabilities, e.g. Metrics Analytics, Platform Health Monitoring.  It certainly boosts site maintenance capabilities and robustness? https://www.splunk.com/en_us/download/splunk-enterprise.html?utm_campaign=google_amer_en_search_brand&utm_so

[2020-02-24 18:06] eichmann commented on #88
Yes, I've included those two images in the slide carousel specifically because they exhibit the issue...

[2020-02-24 18:07] eichmann commented on #90
I've no particular inclinations in this regard.  We do already have an instance of Jenkins running - primarily for container health monitoring.

[2020-02-24 18:34] amikaili commented on #90
1. Installed 60 day trial Splunk Enterprise 8
2. Use my MAMP (the localhost server for my Drupal sandbox) log files as the datasource for Splunk
3. Started analyzing log files (see screen capture)
4.  TODO: A remote datasource to test Splunk Universal Forwarder

<img width="1669" alt="Screen Shot 2020-02-25 at 3 10 34 PM" src="https://user-images.githubusercontent.com/26906359/75288475-0b2dd580-57

[2020-02-24 21:57] eichmann commented on #88
Interesting.  Loading the Adobe image as media and as a direct reference (see https://test.cd2h.org/node/150) both work fine...  I've also installed ImageMagick and set that as the image package to no avail for the slideshow.

[2020-02-24 22:16] eichmann commented on #88
I created a custom block type of media, instantiated a custom block with the Adobe image, and added it at default and full side to the landing page, and it all worked...

[2020-02-25 22:22] amvolz commented on #84
This issue is complete.  All people pictured on site now have a link to their respective bio information. Admin core bio info is less developed (except Melissa & Dave) by design. How can we put the teal circle around each picture to be uniform with the rest?

[2020-02-28 12:06] amikaili commented on #90
https://docs.splunk.com/Documentation/Splunk/7.2.4/Overview/AboutSplunkEnterprise

The index:  Transforms the machine generated data (e.g. log files) into a searchable Index of Events that end up getting analyzed for customizable fields.

The Search:  Powerful concise query language.  Can use Reg Ex to query things like Error conditions, or normal operational events like users logging into the ser

[2020-02-28 15:50] amikaili commented on #90
Splunk for Analytics: "Splunk can read this unstructured, semi-structured or rarely structured data. After reading the data, it allows to search, tag, create reports and dashboards on these data. With the advent of big data, Splunk is now able to ingest big data from various sources, which may or may not be machine data and run analytics on big data.  So, from a simple tool for log analysis, Splun

[2020-02-28 16:33] amikaili commented on #90
Splunk ### **Distributed** Deployment -- Topology:
"There are three main types of processing components:
Forwarders
Indexers
Search heads
Forwarders ingest data. There are a few types of forwarders, but the universal forwarder is the right choice for most purposes... simply inputs data, performs minimal processing on the data, and then forwards the data to an indexer. Because its resource needs ar

[2020-02-28 20:36] amikaili commented on #90
TODO: Use for next stage ### **_**### SPLUNK testing**_**:  Test AMPTagLibs following components.  Integration of them with the rest of the AMP database (Postgres) using Splunk:

https://github.com/data2health/AMPTagLib/blob/master/src/main/java/edu/uiowa/slis/amp_analytics/util/Generator.java

https://github.com/data2health/AMPTagLib/blob/master/src/non-packaged-resources/views.sql

[2020-02-28 22:47] eichmann commented on #88
Fixed! The issue turned out to be an overly-aggressive FileMatch regular expression in the virtual host definition that mapped everything to the PHP engine.  Properly specifying the regular expression resulted in everything working properly.  The hidpi icons have been restored as well, since they now load.

[2020-02-28 22:47] #88 closed, assigned to amikaili

[2020-03-01 02:51] eichmann commented on #74
We now have authors, editors and administrators.  Authors can only create new content and edit their own content.  Editors can manipulate overall content state, but not layout/structure/etc.

[2020-03-02 21:15] eichmann commented on #91
I've got all of the pieces for a next gen core presence on test for RD.  Likely needs editing given most of it was cut and paste

[2020-03-02 21:16] eichmann commented on #85
See note on the CD2H and the CTSA page.  There's an org chart in one of the slide decks that would be a good starting point.

[2020-03-02 22:47] amvolz commented on #74
I think Core PIs and PMs should be made Authors. I'll put on agenda for Weds 3/4 meeting.

[2020-03-04 19:19] eichmann opened #92 "Landing page iframes not working on ios/safari"
They show blank.  Plugging the landing page url into

   http://www.tinywebgallery.com/blog/advanced-iframe/free-iframe-checker

yields an issue with X-Frame-Options: SAMEORIGIN in the response headers.

[2020-03-04 19:30] eichmann commented on #92
Note that above may be more about whether the landing page is embeddable.

[2020-03-04 19:51] eichmann commented on #92
Actually plugging in the NIH FOA embedded_search page into above works fine.

[2020-03-04 19:51] amikaili commented on #92
So this is no issue with Chrome over iOS (sorry can't test it myself, I have loaned my tablet out to my mother)

[2020-03-04 19:54] eichmann commented on #92
Just checked ios/chrome and the video and foa blocks do render - so it's safari.

[2020-03-05 21:34] eichmann opened #93 "Style link tags injected into form actions"
This initially cropped up as a glitch preventing submission of layout builder modifications for admin users. Turns out simple entry of new content was broken for author users.  Finally found a lead on the fix at https://www.drupal.org/project/mbase/issues/2984577 - here's the diff now for bootstrap.inc (including a previous mod for a different issue):

[code]

Then I cleared the "Add CSS files fro

[2020-03-05 21:34] eichmann commented on #93
Identification and resolution pretty much concurrent...

[2020-03-05 21:43] eichmann commented on #93
Yikes - this broke part of the landing page and the social fonts...

[2020-03-05 21:49] alexisgraves commented on #93
@eichmann All is well! I added in both the google font CSS and the font-awesome CSS in the Icemagic theme folder and linked them within the icemagic.libraries.yml. I must have toggled the 'Show content region in front page' radio when looking over changes so that removed the home page sections, but a quick toggle back and it is working.

[2020-03-05 21:51] eichmann commented on #93
Excellent.

[2020-03-05 21:51] #93 closed, assigned to eichmann

[2020-03-05 21:53] eichmann commented on #92
Not sure what was happening yesterday, but it's working today...

[2020-03-05 21:53] #92 closed, assigned to nobody

[2020-03-06 04:06] amikaili commented on #90
So as a first iteration (simple local deployment), after installing Splunk 8, on Guardian, using the first link I commented above, go ahead and follow the below ten minute tutorial, to end up being able to (using the UI this Splunk Search instance installation exposes) Splunk the **production** log files; except instead of the tutorial datasource they say to download and point to it, instead point

[2020-03-07 03:05] amikaili commented on #90
Phase II - Configuring mutually remote  forwarder/receiver
(after done installing standalone Splunk on Guardian and getting it to work)
Start here to download the Forwarder onto Guardian:
How to forward data to Splunk Enterprise:

https://docs.splunk.com/Documentation/Forwarder/8.0.2/Forwarder/HowtoforwarddatatoSplunkEnterprise

Step One - Configure Splunk to receive:
https://docs.splunk.com/Docum

[2020-03-11 22:18] amvolz opened #94 "Remove "Bio" from Expert Content field"
This area will house the actual blog or article. We can link to their web page for bio information, or put at the end of the article if no web page.

[2020-03-11 22:19] amvolz opened #95 "Use Roman numerals for Phases II, III"
Melissa prefers the use of Phase II, III. Please make all menus and headings consistent with the written content.

[2020-03-11 22:50] amvolz commented on #84
All headshots have been replaced with plain photo images and no teal circle around borders. Bios are linked to each person's webpage, if applicable.

[2020-03-11 22:50] #84 closed, assigned to amvolz

[2020-03-12 15:20] eichmann commented on #94
Field labels removed for bio and institutional logo

[2020-03-12 15:20] #94 closed, assigned to nobody

[2020-03-12 15:21] eichmann commented on #95
All menus and view headers have been updated.  I've not tried to scan all of the text on the various pages...

[2020-03-12 15:53] amvolz commented on #95
I’m pretty sure all the text had Roman numerals, so we should be good. I will keep an eye out though. Thanks!

From: Dave Eichmann <notifications@github.com>
Sent: Thursday, March 12, 2020 8:22 AM
To: data2health/website <website@noreply.github.com>
Cc: Andrea Volz <volz@ohsu.edu>; Author <author@noreply.github.com>
Subject: Re: [data2health/website] Use Roman numerals for Phases II, III (#95)

Al

[2020-03-12 16:24] amvolz commented on #86
Holding - need to verify with NCATS if CTSA map is allowed. May have to represent in a different way.

[2020-03-12 16:51] eichmann commented on #86
@amvolz check out https://clic-ctsa.org/hubs - hub map is front-and-center.

[2020-03-12 16:51] #95 closed, assigned to nobody

[2020-03-15 17:41] amikaili commented on #77
@eichmann @amvolz  @alexisgraves:

Folks,
This Issue should be sub-tasked into 2 or more sub-tasks:

1. Analytics capabilities:  Currently ongoing: Refactor... Going From: the legacy GraphQL (GQL) UI API page (accessed from labs... Current Prototypes...): which used to use the Iframe transport mechanism, to transport the JSP-TagLib-based API code/output, to the panels, on the legacy page: https://

[2020-03-15 18:56] eichmann commented on #77
At this point, discussion with NCATS is more about reporting overall project activity tracking.  Significant dashboarding is likely not going to be needed initially, although they seem interested in infographic-style elements on the main web page.

[2020-03-21 21:39] amikaili commented on #77
Hello @eichmann
Successfully equipped my sandbox (Macbook Pro) with the capability to resolve GraphQL (GQL) query mutation or subscription.  Frontend is React.  The GQL engine uses the Apollo client server.  Apollo client becomes part of the React app as a service.  Backend of Apollo consists of Prisma (where the schema reside) and the engine for resolving.  I am able to run test queries.  Next st

[2020-03-21 21:45] amikaili commented on #77
<img width="1351" alt="Screen Shot 2020-03-21 at 4 40 02 PM" src="https://user-images.githubusercontent.com/26906359/77237128-69f12f80-6b93-11ea-94f7-1ea020e9761a.png">

[2020-03-21 21:50] amikaili commented on #77
https://www.howtographql.com/basics/3-big-picture/

[2020-04-16 21:12] amvolz commented on #74
After further development, user testing, NCATS feedback, and deployment, I feel only Andrea and web team in Iowa should have editing permissions in Drupal to limit confusion and ensure compliance with decisions.

[2020-04-16 21:20] amvolz commented on #76
Tab has been created, but Tool Registry will be populated in a later version of the now deployed website. 3 action items will be activated at that time:
1. Populate initial catalog of tools to use for prototype; i.e. NLP sandbox at Sage
2. James Eddy provide list of tools & status ranking/maturity levels
3. James Eddy to get input from Philip Payne/WashU

[2020-04-16 21:24] amvolz commented on #63
Logos have been uploaded to website for CD2H funded hubs. A map now designates the location of participating CTSA hubs.

[2020-04-16 21:27] amvolz commented on #61
4 team pages have now been created in the Drupal site with headshots, credentials, titles, and links to their institution webpage for contact and bio information.

[2020-04-16 21:31] amvolz opened #96 "Publications webcrawler"
Currently matching the webcrawler for clinical trials. In next version, can embed iframes from Paul Harris to auto upload informatics and CTSA-related articles

[2020-04-16 21:38] amvolz opened #97 "Create Consultative Service"
We can use a platform such as ServiceNow (or other) for users to ask questions and solicit help from CD2H. The button on landing page called "Ask CD2H" is currently linked to a Google form that can capture questions and comments. (Where do these comments go? Who manages their intake and dissemination?) Once the real consultative service is enabled, we can either repurpose the "Ask CD2H" button or

[2020-04-16 21:40] amvolz opened #98 "Link to CLIC Discussion Forum"
In the next version of the website, we can create button called “Join CTSA Discussion” with link to CLIC Discussion Forum webpage (part of EC request to measure engagement among hubs).
CLIC also has video on how to join a discussion which we can post it or just link to CLIC page.

[2020-04-16 21:46] amvolz opened #99 "Create polling or short quiz"
In a later version, we can create a poll or short multiple choice quiz linked from Survey Monkey on the landing page. This can be an engagement activity.

SAMPLE: <img width="501" alt="Polling for website" src="https://user-images.githubusercontent.com/59209633/79509727-eb03e100-7ff0-11ea-8841-5beee80e1394.PNG">

[2020-04-16 21:48] amvolz opened #100 "Create space for FAQs"
In a later version, need to develop an FAQ sheet and populate to site.

[2020-04-16 22:01] mellybelly commented on #99
please use google or redcap ;-)

[2020-04-16 23:28] amvolz commented on #99
Absolutely, will do!

[2020-04-17 21:52] amvolz opened #101 "Add COVID-19 DREAM Challenge to DREAM Menu"
Getting ready to launch week of 4/20/2020; not open to public yet. Same framework as EHR Mortality DREAM Challenge.

[2020-04-30 20:05] amvolz commented on #101
@alexisgraves This is ready to be added to DREAM menu.

[EHR COVID DREAM Challenge](https://user-images.githubusercontent.com/59209633/80753994-1dc6d280-8ae3-11ea-97c3-30c3cce371b7.png)

REGISTRATION IS NOW OPEN: The rapid rise of COVID-19 has challenged healthcare globally. The underlying risks and outcomes of infection are still incompletely characterized even as the world surpasses 1 million in

[2020-05-01 00:02] amvolz commented on #101
**This content has been polished up a bit. Please use this to populate.**

REGISTRATION IS NOW OPEN!
The rapid rise of COVID-19 has challenged healthcare globally. The underlying risks and outcomes of infection are still incompletely characterized even as the world surpasses 1 million infections. Due to the importance and emergent need for better understanding of the condition and the development

[2020-05-01 23:16] alexisgraves commented on #101
The COVID-19 EHR Dream Challenge information is now on the website [here](https://cd2h.org/EHR_DREAM_COVID-19). It is also linked on the main menu under "Resources" -> "Dream Challenges" -> "COVID-19".

[2020-05-04 19:59] #101 closed, assigned to alexisgraves

[2020-05-04 20:08] amvolz commented on #98
@alexisgraves
Can we put this link to CLIC Discussion Forum on site? https://clic-ctsa.org/groups/discussion-forums
Here is a video on how to join: https://clic-ctsa.org/clic-library/how-join-discussion-forum
(Their's is a federated site, so let me know if you cannot access.)

[2020-05-07 21:43] #74 closed, assigned to eichmann, amvolz

[2020-05-07 21:47] amvolz opened #102 "Incorporation of Playbook/Guidebook"
Current Playbook is listed under Resources menu. A project has also been created for it on the Informatics Maturity Core page. Requires special formatting to populate. Not all chapters have been fully developed.

For a temporary fix, Data Harmonization Chapter 6 has been linked to their project page. We need a timeline for when the Playbook can be fully implemented. Have had preliminary discussion

[2020-05-18 14:11] mellybelly opened #103 "update project list and types"
suggest that the dropdowns under "current projects" be updated.

remove operational architecture, this is not of community relevance
Rename "sandbox" projects to "cloud sandbox"
Move Maturity Models to "infrastructure"
(should infrastructure be called "Core project" instead?)

We should discuss what to do with the Cloud DUA, it has essentially been subsumed by the cloud architecture.

[2020-05-28 18:18] cgcook commented on #48
New website; closing ticket.

[2020-05-28 18:18] #48 closed, assigned to cgcook

[2020-10-16 17:09] amvolz opened #104 "Obtain urls from Cores/Partners to add under ABOUT menu"
Per Steering Committee approval, create a new item under the ABOUT menu called PARTNERS. Add links to Core's websites and other partner's websites (i.e. Tislab at OSU).

Have 2 links to start:
Tislab: https://agsci.oregonstate.edu/tisc
JUH: https://ictr.johnshopkins.edu

[2020-10-22 18:17] amvolz commented on #104
[Partners page ](https://cd2h.org/Partners) has been created. Call for urls from partners via email and SC meeting agenda.

[2020-12-24 19:26] amvolz commented on #52
WordPress site is defunct.
Drupal CD2H site conducted UX testing and cognitive walkthroughs in spring 2020.

[2020-12-24 19:26] #52 closed, assigned to kristiholmes

[2020-12-24 19:28] amvolz commented on #46
WordPress site is defunct.
Drupal CD2H site has linked feedback form.

[2020-12-24 19:28] #46 closed, assigned to nobody

[2020-12-24 19:28] amvolz commented on #44
WordPress site is defunct.
Drupal CD2H site has linked google calendar.

[2020-12-24 19:28] #44 closed, assigned to nobody

[2020-12-24 19:29] amvolz commented on #42
WordPress site is defunct.
Drupal CD2H site has updated blog section.

[2020-12-24 19:29] #42 closed, assigned to nobody

[2020-12-24 19:29] amvolz commented on #41
WordPress site is defunct.
Drupal CD2H site has Blog item under News & Events menu.

[2020-12-24 19:29] #41 closed, assigned to nobody

[2020-12-24 19:30] amvolz commented on #40
WordPress site is defunct.
Drupal CD2H site has news items close to the fold.

[2020-12-24 19:30] #40 closed, assigned to nobody

[2020-12-24 19:31] amvolz commented on #59
WordPress site is defunct.
Drupal CD2H site has projects linked to GitHub pages if applicable.

[2020-12-24 19:31] #59 closed, assigned to nobody

[2020-12-24 19:32] amvolz commented on #63
WordPress site is defunct.
Drupal CD2H site has hub map and logos.

[2020-12-24 19:32] #63 closed, assigned to alexisgraves, amvolz

[2020-12-24 19:33] amvolz commented on #68
WordPress site is defunct.
Drupal CD2H site has been compared with revised CLIC & TIN websites, and linked resources where applicable..

[2020-12-24 19:33] #68 closed, assigned to nobody

[2020-12-24 19:34] amvolz commented on #86
Drupal site has hub map https://cd2h.org/cd2h_and_ctsa

[2020-12-24 19:34] #86 closed, assigned to eichmann, alexisgraves

[2020-12-24 19:38] amvolz commented on #102
Regular meetings are scheduled. Andrea has edited all current content. Most core chapters involving projects need to be updated with cores verifying current content. Chapter 6-Harmonization as updated summer 2020 and is in good shape right now.

Continued meetings will take place in 2021 to move project along. Gap analysis needs to be conducted.

[2020-12-24 19:40] amvolz commented on #25
WordPress site is defunct.
Drupal CD2H site has this display under pictures.

[2020-12-24 19:40] #25 closed, assigned to nobody

[2020-12-24 19:41] amvolz commented on #22
WordPress site is defunct.
Drupal CD2H site has correct citation presentation.

[2020-12-24 19:41] #22 closed, assigned to nobody

[2020-12-24 19:41] amvolz commented on #21
WordPress site is defunct.
Drupal CD2H site has updated brochure.

[2020-12-24 19:41] #21 closed, assigned to jmcmurry

[2020-12-24 19:42] #67 closed, assigned to nobody

[2020-12-24 19:43] amvolz commented on #103
Projects are updated for Phase IV

[2020-12-24 19:43] #103 closed, assigned to nobody

[2020-12-24 19:44] amvolz commented on #2
WordPress site is defunct.
Drupal CD2H site has community events on calendar that writes to the homepage.

[2020-12-24 19:44] #2 closed, assigned to nobody

[2020-12-24 19:46] amvolz commented on #12
WordPress site is defunct.
Drupal CD2H site has news tiles on homepage.

[2020-12-24 19:46] #12 closed, assigned to nobody

[2020-12-24 20:04] amvolz commented on #15
WordPress site is defunct. The acronym DTF is defunct.
Drupal CD2H site uses current acronym of iEC.

[2020-12-24 20:04] #15 closed, assigned to nobody

[2020-12-24 20:05] amvolz commented on #18
WordPress site is defunct.
Drupal CD2H site has proper dropdown.

[2020-12-24 20:05] #18 closed, assigned to nobody

[2020-12-24 20:06] #20 closed, assigned to nobody

[2020-12-24 20:07] amvolz commented on #70
Will Cooper is undertaking this project for the N3C website. Could apply here too.

[2020-12-24 20:09] #61 closed, assigned to nobody

[2020-12-24 20:11] amvolz commented on #1
WordPress site is defunct.
Drupal CD2H site is active.
We have robust Slack channel options for chat.

[2020-12-24 20:11] #1 closed, assigned to nobody

[2020-12-24 20:12] amvolz commented on #13
WordPress site is defunct.
Drupal CD2H site is searchable.

[2020-12-24 20:12] #13 closed, assigned to nobody

[2020-12-24 20:13] amvolz commented on #27
WordPress site is defunct.
Drupal CD2H site could include new Evaluator role and activities.

[2021-01-04 23:35] amvolz commented on #85
TIN has a nice example on their website. we could create something similar.
![image](https://user-images.githubusercontent.com/59209633/103590328-66b8fd00-4ea2-11eb-925e-a125e1105160.png)